host_config = {
  vmname:       "vm1",
  hostname:     "CentOS7vm1",
  ip:           "192.168.56.121",
  netmask:      "255.255.255.0",
  network_type: "private_network",   #or public_network, or forwarded_port
  gui:          false,
  memory:       "768",
}

Vagrant.configure("2") do |config|
  config.vm.define host_config[:vmname] do |machine|
    config.vm.provider "virtualbox" do |vb|
      vb.gui = host_config[:gui]
      vb.memory = host_config[:memory]
    end

    machine.vm.host_name = host_config[:hostname]
    machine.vm.network host_config[:network_type],
      ip:       host_config[:ip],
      netmask:   host_config[:netmask]
    
#    #begin your provisioning
#    
#    machine.vm.provision "shell",
#      run: "always",
#      inline: "yum install httpd -y"
#    machine.vm.provision "shell",
#      run: "always",
#      inline: "systemctl start httpd"
#    
#    #end your provisioning
    
    machine.vm.provision "shell",
      run: "always",
      inline: $reboot
  end
end
